<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::default_header(~{::title}, ~{::link})}">
    <title>게시글 상세</title>
    <link/>
</head>
<body>
<header th:replace="~{fragment/base::default_topbar}"></header>
<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h5 class="display-5 fw-bold mb-3">
                    게시글 상세
                    <i class="bi bi-lock" th:if="${board.secret}"></i>
                </h5>
                <hr>
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input type="text" class="form-control" id="title" th:value="${board.title}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">작성자</span>
                    <input type="text" class="form-control" id="editor"
                           th:value="${board.userAccount == null} ? ${board.editor} : ${board.userAccount.nickname}"
                           disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">작성 시각</span>
                    <input type="text" class="form-control" id="createdAt"
                           th:value="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">본문</span>
                    <textarea class="form-control" rows="10" th:text="${board.content}" disabled></textarea>
                </div>
                <div class="list-group list-group-numbered">
                    <a class="list-group-item"
                        th:each="file : ${board.uploadFiles}"
                        th:text="${file.originalFileName}"
                        th:href="@{${file.filePath} + ${file.uniqueFileName}}"
                        target="_blank"
                    >
                    </a>
                </div>
                <hr>
                <a class="btn btn-secondary" type="button" href="/boards">뒤로가기</a>
                <!-- 비회원이 작성했거나 or "현재 비로그인 상태가 아니면서" 게시글 작성자의 userId == 현재 로그인 id인 경우 -->
                <a class="btn btn-warning float-end" type="button" href="/boards"
                   th:if="${board.userAccount == null} or (
                   ${#authorization.expression('!isAnonymous()')} and ${board.userAccount?.userId == #authentication.name})"
                   th:onclick="'delete_board(' + ${board.id} + ');'">삭제</a>
                <a class="btn btn-success float-end me-2" type="button"
                   th:if="${#authorization.expression('!isAnonymous()')} and ${board.userAccount?.userId == #authentication.name}"
                   th:href="@{/boards/edit/{boardId}(boardId=${board.id})}">수정</a>

                <hr>
                <h5 class="display-5 fw-bold mb-3">댓글 목록</h5>
                <hr>
                <div class="col-md-6 mb-3" th:each="reply : ${replies}">
                    <!-- -->
                    <div class="h-100 p-3 rounded-3"
                         th:class="'h-100 p-3 rounded-3 ' +
                         (${reply.isRegisteredUser} ? (${board.userAccount?.nickname == reply.replyUserAccount?.nickname} ? 'text-bg-primary' : 'text-bg-success') : 'text-bg-dark')">
                        <!-- 비회원이 작성했거나 or "현재 비로그인 상태가 아니면서" 댓글 작성자의 userId == 현재 로그인 id인 경우 -->
                        <a class="btn btn-danger float-end" type="button"
                           th:if="${reply.replyUserAccount == null} or (
                            ${#authorization.expression('!isAnonymous()')} and ${reply.replyUserAccount?.userId == #authentication.name})"
                           th:onclick="'delete_reply(' + ${reply.id} + ');'">삭제</a>
                        <p class="fs-3 fw-bold"
                           th:text="${reply.editor}"></p>
                        <p th:text="${reply.content}"></p>
                        <p class="text-end"
                           th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    </div>
                </div>
                <hr>
                <form>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control" id="replyEditor" placeholder="닉네임을 입력하세요..."
                                   th:readonly="${#authorization.expression('!isAnonymous()')}"
                                   th:value="${#authorization.expression('!isAnonymous()')} ? ${#authentication.principal.nickname} : '익명'">
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="editor-field-error"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">본문</span>
                            <textarea class="form-control" id="replyContent" rows="3" placeholder="댓글을 입력하세요..."></textarea>
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="content-field-error"></p>
                        </div>
                    </div>
                    <a class="btn btn-primary float-end" type="button" th:onclick="'add_reply(' + ${board.id} + ');'">등록</a>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment/base::default_footer(~{::script})}">
    <script src="/resources/js/board-func.js"></script>
</footer>
</body>
</html>