<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::default_header(~{::title}, ~{::link})}">
    <title>게시글 목록</title>
    <link/>
</head>
<body>
<header th:replace="~{fragment/base::default_topbar}"></header>
<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <div class="row">
                    <div class="col-8">
                        <h5 class="display-5 fw-bold mb-3">게시글 목록</h5>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary float-end" type="button" href="/boards/new">게시글 등록</a>
                    </div>
                </div>
                <hr>
                <table class="table table-hover mb-5">
                    <thead>
                    <tr class="table-secondary">
                        <th>
                            <a class="text-dark text-decoration-none" th:href="@{/boards(
                            page=${boards.number},
                            sort='id' + (${boards.sort.getOrderFor('id')} != null ? (${boards.sort.getOrderFor('id').direction.name} == 'DESC' ? '' : ',desc') : '')
                            )}">#</a>
                        </th>
                        <th>
                            <a class="text-dark text-decoration-none" th:href="@{/boards(
                            page=${boards.number},
                            sort='title' + (${boards.sort.getOrderFor('title')} != null ? (${boards.sort.getOrderFor('title').direction.name} == 'DESC' ? '' : ',desc') : '')
                            )}">제목</a>
                        </th>
                        <th>
                            <a class="text-dark text-decoration-none" th:href="@{/boards(
                            page=${boards.number},
                            sort='editor' + (${boards.sort.getOrderFor('editor')} != null ? (${boards.sort.getOrderFor('editor').direction.name} == 'DESC' ? '' : ',desc') : '')
                            )}">작성자</a>
                        </th>
                        <th>
                            <a class="text-dark text-decoration-none" th:href="@{/boards(
                            page=${boards.number},
                            sort='createdAt' + (${boards.sort.getOrderFor('createdAt')} != null ? (${boards.sort.getOrderFor('createdAt').direction.name} == 'DESC' ? '' : ',desc') : '')
                            )}">작성 시각</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boards}">
                        <th th:text="${board.id}">1</th>
                        <td>
                            <a th:text="${board.title}" th:href="@{/boards/{boardId}(boardId=${board.id})}">제목</a>
                        </td>
                        <td th:text="${board.editor}">작성자</td>
                        <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd
                            HH:mm:ss
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${boards.number} != 0">
                            <a class="page-link"
                               th:href="@{/boards(page=0,sort=${param.sort})}"
                            >&lt;&lt;</a>
                        </li>
                        <li class="page-item" th:if="${boards.number} != 0">
                            <a class="page-link"
                               th:href="@{/boards(page=${boards.number - 1},sort=${param.sort})}"
                            >&lt;</a>
                        </li>
                        <li class="page-item" th:each="paginationNumber : ${paginationNumbers}">
                            <a class="page-link"
                               th:class="'page-link ' + (${boards.number} == ${paginationNumber} ? 'disabled text-bg-secondary' : '')"
                               th:text="${paginationNumber + 1}"
                               th:href="@{/boards(page=${paginationNumber},sort=${param.sort})}">1</a>
                        </li>
                        <li class="page-item" th:if="${boards.number} < ${boards.totalPages - 1}">
                            <a class="page-link"
                               th:href="@{/boards(page=${boards.number + 1},sort=${param.sort})}">&gt;</a>
                        </li>
                        <li class="page-item" th:if="${boards.number} < ${boards.totalPages - 1}">
                            <a class="page-link"
                               th:href="@{/boards(page=${boards.totalPages - 1},sort=${param.sort})}">&gt;&gt;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment/base::default_footer(~{::script})}">
    <script/>
</footer>
</body>
</html>