<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::default_header(~{::title}, ~{::link})}">
    <title>게시글 등록</title>
    <link/>
</head>
<body>
<header th:replace="~{fragment/base::default_topbar}"></header>
<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h5 class="display-5 fw-bold mb-3">게시글 등록</h5>
                <hr>
                <form id="boardCreateForm" enctype="multipart/form-data">

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">제목</span>
                            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요..." autofocus>
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="title-field-error"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control" id="editor" name="editor" placeholder="작성자를 입력하세요..."
                                   th:readonly="${#authorization.expression('!isAnonymous()')}"
                                   th:value="${#authorization.expression('!isAnonymous()')} ? ${#authentication.principal.nickname} : '익명'">
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="editor-field-error"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">본문</span>
                            <textarea class="form-control" rows="10" id="content" name="content" placeholder="본문을 입력하세요..."></textarea>
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="content-field-error"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="files" name="files" multiple>
                    </div>
                    <div class="input-group mb-3 w-50">
                        <div class="input-group">
                            <div class="input-group-text">
                                <span class="me-2">비밀글 선택</span>
                                <input class="form-check-input mt-0" type="checkbox" name="secret" value="true">
                            </div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="비밀글 비밀번호를 입력하세요...">
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-start m-0" id="password-field-error"></p>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-secondary" type="button" href="/boards">뒤로가기</a>
                    <a class="btn btn-primary float-end" type="button" onclick="create_board()">등록</a>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment/base::default_footer(~{::script})}">
    <script src="/resources/js/board-func.js"></script>
</footer>
</body>
</html>