<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::default_header(~{::title}, ~{::link})}">
    <title>비밀글 조회</title>
    <link/>
</head>
<body>
<header th:replace="~{fragment/base::default_topbar}"></header>
<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 d-flex justify-content-center">
                <form id="board-auth-form" class="w-50">
                    <h1 class="h3 mb-5 fw-bold text-center">비밀글 조회</h1>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="hidden" id="boardId" name=boardId th:value="${boardId}">
                            <input type="password" class="form-control" id="loginPw" name="password" required autofocus>
                            <label for="loginPw">비밀글 비밀번호</label>
                        </div>
                        <div class="row">
                            <p class="field-error text-danger text-end m-0" id="password-field-error"></p>
                        </div>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">입력</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragment/base::default_footer(~{::script})}">
    <script src="/resources/js/board-func.js"></script>
    <script>
        board_secret_auth_init();
    </script>
</footer>
</body>
</html>