<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::default_header(~{::title}, ~{::link})}">
    <title>4xx Error Page</title>
    <link/>
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold"> <span class="text-danger">4xx</span> Error</h1>
        <p class="fs-3"> 잘못된 요청입니다. </p>
        <hr>
        <div class="text-start">
            <p th:text="|예외 발생시각: ${timestamp}|"></p>
            <p th:text="|요청 경로: ${path}|"></p>
            <p th:text="|응답 메세지: ${message}|"></p>
        </div>
        <hr>
        <a href="/" class="btn btn-primary">메인 화면으로...</a>
    </div>
</div>
</body>
</html>